//-----------------------------------------
// property: display
// default: inline
//-----------------------------------------

.none         { display: none; }
.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.flex         { display: flex; }
.inline-flex  { display: inline-flex }
.inline-table { display: inline-table; }
.table        { display: table; }
.table-cell   { display: table-cell; }
.table-row    { display: table-row; }
