@import '../mixins/flex';

//-----------------------------------------
// property: flex
// default: initial
//-----------------------------------------
.flex-1        { @include flex(1); }
.flex-none     { flex: none; }
.flex-auto     { @include flex-auto(); }
.flex-shrink-0 { @include flex-shrink(0) }

//-----------------------------------------
// property: flex-direction
// default: row
//-----------------------------------------
.flex-column      { @include flex-direction(column) }
.flex-row         { @include flex-direction(row) }
.flex-row-reverse { @include flex-direction(row-reverse) }

//-----------------------------------------
// property: flex-wrap
// default: nowrap
//-----------------------------------------
.flex-wrap         { @include flex-wrap(wrap); }
.flex-wrap-reverse { @include flex-wrap(wrap-reverse); }

//-----------------------------------------
// property: justify-content
// default: flex-start
//-----------------------------------------
.justify-content-end           { @include justify-content(flex-end); }
.justify-content-center        { @include justify-content(center); }
.justify-content-space-between { @include justify-content(space-between); }
.justify-content-space-around  { @include justify-content(space-around); }

//-----------------------------------------
// property: align-content
// default: flex-start
//-----------------------------------------
.align-content-start         { @include align-content(flex-start); }
.align-content-end           { @include align-content(flex-end); }
.align-content-center        { @include align-content(center); }
.align-content-space-between { @include align-content(space-between); }
.align-content-space-around  { @include align-content(space-around); }

//-----------------------------------------
// property: align-items
// default: stretch
//-----------------------------------------
.align-items-start    { @include align-items(flex-start); }
.align-items-end      { @include align-items(flex-end); }
.align-items-center   { @include align-items(center); }
.align-items-baseline { @include align-items(baseline); }

//-----------------------------------------
// property: align-self
// default: auto
//-----------------------------------------
.align-self-start    { @include align-self(flex-start); }
.align-self-end      { @include align-self(flex-end); }
.align-self-center   { @include align-self(center); }
.align-self-baseline { @include align-self(baseline); }
.align-self-stretch  { @include align-self(stretch); }

//-----------------------------------------
// property: order
// default: 0
//-----------------------------------------
.order-first { order: -1; }
.order-last  { order: 99999; }
.order-0     { order: 0; }
