//-----------------------------------------
// property: position
// default: static
//-----------------------------------------
.static { position: static; }
.relative  { position: relative; }
.absolute  { position: absolute; }
.fixed  { position: fixed; }
.center {
  margin-right: auto;
  margin-left: auto;
}

.bottom-x0 { bottom: 0; }
.right-x0 { right: 0; }
.left-x0 { left: 0; }
.top-x0 { top: 0; }
