//-----------------------------------------
// property: text-align
// default: left if direction is ltr, and right if direction is rtl
//-----------------------------------------
.text-align-left    { text-align: left; }
.text-align-right   { text-align: right; }
.text-align-center  { text-align: center; }
.text-align-justify { text-align: justify; }
