@mixin font-family($font: null) {
  @if $font {
    font-family: $font;
  }
}

@mixin font($size: null, $weight: null, $height: null, $color: null) {
  @if $size {
    font-size: $size !important;
  }

  @if $weight {
    font-weight: $weight !important;
  }

  @if $height {
    line-height: $height !important;
  }

  @if $color {
    color: $color !important;
  }
}
