@import '../mixins/font';
@import '../variables/typography';

h1, .h1 {
  @include font($size: $font-size-heading-1);
}

h2, .h2 {
  @include font($size: $font-size-heading-2);
}

h3, .h3 {
  @include font($size: $font-size-heading-3);
}

a {
  &:hover {
    text-decoration: underline;
  }
}

small, .font-small {
  @include font(
    $size: $font-size-small
  );
}

.font-base {
  @include font(
    $font-size-base
  );
}
